<div class="pinlockrest">
    <div data-dojo-attach-point="commandText">Enter your pin</div>
        <div>
            <div data-dojo-attach-point="input1"></div>
            <div data-dojo-attach-point="input2"></div>
            <div data-dojo-attach-point="input3"></div>
            <div data-dojo-attach-point="input4"></div>
            <div data-dojo-attach-point="input5"></div>
        </div>
        <div class="input-group" data-dojo-attach-point="inputNodes">
            <button class="numButtons" value="1">1</button>
            <button class="numButtons" value="2">2</button>
            <button class="numButtons" value="3">3</button>
            <button class="numButtons" value="4">4</button>
            <button class="numButtons" value="5">5</button>
            <button class="numButtons" value="6">6</button>
            <button class="numButtons" value="7">7</button>
            <button class="numButtons" value="8">8</button>
            <button class="numButtons" value="9">9</button>
            <button data-dojo-attach-point="del" >del</button>
        </div>
    
    <div class="pinlockrest-infoTextNode" data-dojo-attach-point="infoTextNode" />
</div>

