<div class="pinlockrest">
    <div class="pinlockrest-title" data-dojo-attach-point="commandText">
        <span>Vul uw huidige mobiele pincode in</span>
    </div>

    <div class="pinlockrest-formgroup pinlockrest-formgroup-pins">
        <input data-dojo-attach-point="input1" disabled="disabled" class="pinlockrest-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
        <input data-dojo-attach-point="input2" disabled="disabled" class="pinlockrest-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
        <input data-dojo-attach-point="input3" disabled="disabled" class="pinlockrest-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
        <input data-dojo-attach-point="input4" disabled="disabled" class="pinlockrest-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
        <input data-dojo-attach-point="input5" disabled="disabled" class="pinlockrest-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
    </div>

    <div data-dojo-attach-point="inputNodes">
        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="1">1</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="2">2</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="3">3</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="4">4</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="5">5</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="6">6</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="7">7</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="8">8</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="9">9</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">

            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="0">0</button>
            </div>
            <div class="col-xs-4">
                <span class="mx-link" tabindex="0" data-dojo-attach-point="del"> 
          <a tabindex="-1">Verwijderen</a> 
        </span>
            </div>
        </div>
    </div>

    <div class="pinlockrest-infoTextNode" data-dojo-attach-point="infoTextNode" />
</div>