<div class="pinlockreset">
    <div class="pinlockreset-title" data-dojo-attach-point="commandText">
        <span>Vul uw huidige mobiele pincode in</span>
    </div>

    <div class="pinlockreset-formgroup pinlockreset-formgroup-pins">
        <input data-dojo-attach-point="input1" disabled="disabled" class="pinlockreset-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
        <input data-dojo-attach-point="input2" disabled="disabled" class="pinlockreset-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
        <input data-dojo-attach-point="input3" disabled="disabled" class="pinlockreset-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
        <input data-dojo-attach-point="input4" disabled="disabled" class="pinlockreset-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
        <input data-dojo-attach-point="input5" disabled="disabled" class="pinlockreset-formgroup-input" type="password" autocorrect="off" autocapitalize="none" maxlength="1">
    </div>

    <div class="pinlockreset-infoTextNode" data-dojo-attach-point="infoTextNode"></div>

    <div class="pinlockreset-buttons" data-dojo-attach-point="inputNodes">
        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="1">
                    <span class="number">1</span>
                    <span class="text">&nbsp;</span>
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="2">
                    <span class="number">2</span>
                    <span class="text">ABC</span>
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="3">
                    <span class="number">3</span>
                    <span class="text">DEF</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="4">
                    <span class="number">4</span>
                    <span class="text">GHI</span>
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="5">
                    <span class="number">5</span>
                    <span class="text">JKL</span>
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="6">
                    <span class="number">6</span>
                    <span class="text">MNO</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="7">
                    <span class="number">7</span>
                    <span class="text">PQRS</span>
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="8">
                    <span class="number">8</span>
                    <span class="text">TUV</span>
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="9">
                    <span class="number">9</span>
                    <span class="text">WXYZ</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default btn-disabled"></button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="0">
                    <span class="number">0</span>
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn mx-button numButtons btn-default" value="0" tabindex="-1" data-dojo-attach-point="del">
                    <span class="number">&#9003;</span>
                </button>
            </div>
        </div>
    </div>

</div>